.level {
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin: 0 5px;
}
