.accordion-button,
.accordion-button:not(.collapsed) {
  background:  #303c3e !important;
  color: #e5f4f7;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 #e5f4f7;
}

.accordion-button:focus {
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 #00a3c8;
}

.accordion-button {
  color: #e5e5e1;
}

.icon-spacing {
  margin-right: 8px;
}

.accordion-button {
  color: #e5e5e1;
  background-color: transparent;
}

.accordion-button:not(.collapsed) {
  color: #e5e5e1;
  background-color: transparent;
}

.accordion-button::after {
  filter: brightness(0) invert(1);
}

.accordion-button.collapsed::after {
  filter: brightness(0) invert(1);
}