.accordion-button:focus {
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 #B2CC1D;
}

.icon-spacing {
    margin-right: 8px;
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
}

.dark .accordion-button:focus {
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 #B2CC1D;
}

.dark .accordion-button:not(.collapsed),
.dark .accordion-button.collapsed {
    background-color: #22272B;
    color: #B6C2CF;
    border: 1px solid #384148;
}

.dark .accordion-button::after {
    filter: brightness(0) invert(1);
}

.dark .accordion-button.collapsed::after {
    filter: brightness(0) invert(1);
}