.nav-link {
    color: gray;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #e5e5e1;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover {
    color: #e5e5e1
}

.nav-link:hover::after {
    visibility: visible;
    width: 100%;
}

.login-button {
    color: #e5e5e1;
    border-color: #e5e5e1;
}