.nav-link {
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #B2CC1D;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover::after {
    visibility: visible;
    width: 100%;
}

.logo-img {
    width: 100px;
    height: auto;
}

