.pagination-container .page-item .page-link {
    background: transparent;
    color: #212529;
    border: 1px solid #dfe1e6
}

.pagination-container .page-item.active .page-link {
    background: #bebebe;
}

.pagination-container .page-item .page-link:hover {
    background: #D2D2D2;
}
